In [1]:
import pandas as pd
import os

def read_excel_files(folder_path):
    """
    Reads all Excel files in the specified folder into pandas DataFrames.
    The DataFrames are stored in a dictionary, keyed by the year or year range.
    
    Args:
    - folder_path (str): The path to the folder containing the Excel files.
    
    Returns:
    - dict: A dictionary where each key is a string representing the year or year range of the data,
            and each value is a pandas DataFrame of the data from the corresponding file.
    """
    # Initialize an empty dictionary to store the dataframes
    dataframes = {}
    
    # List all Excel files in the folder
    for filename in os.listdir(folder_path):
        if filename.endswith('.xlsx'):
            # Extract the year or year range from the filename
            year_range = filename.replace('System-Data-Qtr-Hourly-', '').replace('.xlsx', '')
            # Construct the full path to the file
            file_path = os.path.join(folder_path, filename)
            # Read the Excel file into a DataFrame
            df = pd.read_excel(file_path)
            # Store the DataFrame in the dictionary with the year range as the key
            dataframes[year_range] = df
            
    return dataframes

In [8]:
folder_path = 'data'  # Update this to the correct path if needed
dataframes_dict = read_excel_files(folder_path)

# Access each DataFrame using its year or year range as the key
# df_2014_2015 = dataframes_dict['2014-2015']

In [10]:
# Storing datasets in seperate dataframes for checking and processing 

df_2014_2015 = dataframes_dict['2014-2015']
df_2016_2017 = dataframes_dict['2016-2017']
df_2018_2019 = dataframes_dict['2018-2019']
df_2020_2021 = dataframes_dict['2020-2021']
df_2022_2023 = dataframes_dict['2022-2023']
df_2024_up_to_march = dataframes_dict['2024-Mar']

In [23]:
df_2014_2015.head()

,DateTime,GMT Offset,NI Generation,NI Demand,NI Wind Availability,NI Wind Generation,IE Generation,IE Demand,IE Wind Availability,IE Wind Generation,SNSP,Unnamed: 11,NI: Northern Ireland\nIE: Ireland
0,2014-01-01 00:00:00,0,637.98,859.36,367.58,365.57,2752.48,2898.72,1053.11,1020.23,0.4579,NaN,Notes: \nThe system data in this report is is ...
1,2014-01-01 00:15:00,0,625.68,855.46,345.94,352.82,2733.59,2868.97,1021.59,995.07,0.4505,NaN,NaN
2,2014-01-01 00:30:00,0,614.72,840.00,333.22,339.60,2686.17,2826.42,972.06,932.71,0.4383,NaN,NaN
3,2014-01-01 00:45:00,0,588.73,824.25,307.44,313.66,2657.56,2786.94,985.81,959.06,0.4447,NaN,NaN
4,2014-01-01 01:00:00,0,593.06,818.84,306.87,315.17,2584.65,2723.94,958.63,920.82,0.4429,NaN,NaN

In [13]:
df_2016_2017.head()

,DateTime,GMT Offset,NI Generation,NI Demand,NI Wind Availability,NI Wind Generation,IE Generation,IE Demand,IE Wind Availability,IE Wind Generation,SNSP,Unnamed: 11,NI: Northern Ireland\nIE: Ireland
0,2016-01-01 00:00:00,0,983.74,809.19,386.45,377.76,2970.38,2970.79,714.84,673.64,0.2521,NaN,Notes: \nThe system data in this report is is ...
1,2016-01-01 00:15:00,0,924.47,801.97,364.28,359.51,3076.98,2966.94,749.74,704.85,0.2528,NaN,NaN
2,2016-01-01 00:30:00,0,930.77,786.43,379.74,376.38,2935.55,2933.97,737.41,692.85,0.2623,NaN,NaN
3,2016-01-01 00:45:00,0,902.89,779.32,342.00,336.94,2964.88,2876.85,722.90,683.34,0.2507,NaN,NaN
4,2016-01-01 01:00:00,0,876.46,768.91,322.94,317.16,2953.50,2817.73,726.04,684.65,0.2481,NaN,NaN

In [14]:
df_2018_2019.head()

,DateTime,GMT Offset,NI Generation,NI Demand,NI Wind Availability,NI Wind Generation,NI Solar Availability,NI Solar Generation,IE Generation,IE Demand,IE Wind Availability,IE Wind Generation,SNSP,Unnamed: 13,NI: Northern Ireland\nIE: Ireland
0,2018-01-01 00:00:00,0,960.779,719.573,588.375,519.465,0.46,0.484,3486.41,3049.03,2191.94,2069.44,0.5655,NaN,Notes: \nThe system data in this report is is ...
1,2018-01-01 00:15:00,0,950.704,711.551,591.868,511.766,0.46,0.485,3460.88,3015.61,2123.39,1994.07,0.5523,NaN,NaN
2,2018-01-01 00:30:00,0,942.374,699.660,567.388,501.927,0.46,0.487,3391.46,2958.13,2023.78,1894.12,0.5369,NaN,NaN
3,2018-01-01 00:45:00,0,949.722,692.245,560.438,500.021,0.46,0.486,3328.62,2910.69,2003.35,1866.58,0.5369,NaN,NaN
4,2018-01-01 01:00:00,0,956.849,698.968,564.892,501.535,0.46,0.485,3293.70,2863.56,2014.68,1884.76,0.5449,NaN,NaN

In [15]:
df_2020_2021.head()

,DateTime,GMT Offset,NI Generation,NI Demand,NI Wind Availability,NI Wind Generation,NI Solar Availability,NI Solar Generation,IE Generation,IE Demand,IE Wind Availability,IE Wind Generation,SNSP,Unnamed: 13,NI: Northern Ireland\nIE: Ireland
0,2020-01-01 00:00:00,0,805.808,736.418,268.222,267.818,0.0,0.0,2708.45,3035.95,331.08,324.10,0.2132,NaN,Notes: \nThe system data in this report is is ...
1,2020-01-01 00:15:00,0,808.930,727.636,271.798,272.509,0.0,0.0,2757.59,3001.06,332.35,324.88,0.1981,NaN,NaN
2,2020-01-01 00:30:00,0,799.635,715.448,264.655,264.816,0.0,0.0,2765.93,2956.65,326.64,318.97,0.1921,NaN,NaN
3,2020-01-01 00:45:00,0,781.243,704.161,256.279,255.498,0.0,0.0,2741.16,2912.98,319.00,311.37,0.1871,NaN,NaN
4,2020-01-01 01:00:00,0,828.025,714.902,256.845,257.602,0.0,0.0,2727.65,2868.51,328.50,320.47,0.1742,NaN,NaN

### Clean datasets for years before 2023, i.e. 2014 to 2022

In [28]:
def clean_df_columns_before_2022(df: pd.DataFrame) -> pd.DataFrame:
    """Filters DataFrames for years before 2022 to keep only selected relevant columns.

    This function ensures that only the columns present in both the DataFrame and the
    predefined list of columns to keep are retained. If certain columns are missing in
    the input DataFrame, they will be silently ignored.

    Args:
        df (pd.DataFrame): The input DataFrame for years before 2022.

    Returns:
        pd.DataFrame: A filtered DataFrame containing only the selected columns that exist
        in the input DataFrame.
    """   
    columns_to_keep = ['DateTime', 'NI Generation','NI Demand', 'NI Wind Availability', 'NI Wind Generation', 'NI Solar Availability',
       'NI Solar Generation', 'IE Generation', 'IE Demand',
       'IE Wind Availability', 'IE Wind Generation', 'SNSP']
    
    df_filtered = df[[col for col in columns_to_keep if col in df.columns]]
    return df_filtered

In [31]:
# Dictionary of original DataFrames
total_df_before_2022 = {
    "df_2014_2015": df_2014_2015,
    "df_2016_2017": df_2016_2017,
    "df_2018_2019": df_2018_2019,
    "df_2020_2021": df_2020_2021,
}

# Apply clean_df_columns_before_2022 function to each DataFrame and create new entries with _filtered suffix
filtered_df_before_2022 = {name + "_filtered": clean_df_columns_before_2022(df) for name, df in total_df_before_2022.items()}

### Clean datasets for 2023 and 2024

In [34]:
def clean_df_columns_2023_2024(df: pd.DataFrame) -> pd.DataFrame:
    """Filters DataFrames for years before 2022 to keep only selected relevant columns.

    This function ensures that only the columns present in both the DataFrame and the
    predefined list of columns to keep are retained. If certain columns are missing in
    the input DataFrame, they will be silently ignored.

    Args:
        df (pd.DataFrame): The input DataFrame for years before 2022.

    Returns:
        pd.DataFrame: A filtered DataFrame containing only the selected columns that exist
        in the input DataFrame.
    """   
    columns_to_keep = ['DateTime', 'NI Generation','NI Demand', 'NI Wind Availability', 'NI Wind Generation', 'NI Solar Availability',
       'NI Solar Generation', 'IE Generation', 'IE Demand',
       'IE Wind Availability', 'IE Wind Generation', 'SNSP','Moyle I/C','IE Hydro', 'EWIC I/C','Inter-Jurisdictional Flow']
    
    df_filtered = df[[col for col in columns_to_keep if col in df.columns]]
    return df_filtered

In [35]:
# Dictionary of original DataFrames
total_df_2023_2024 = {
    "df_2022_2023": df_2022_2023,
    "df_2024_up_to_march": df_2024_up_to_march,

}

# Apply clean_df_columns_before_2022 function to each DataFrame and create new entries with _filtered suffix
filtered_df_after_2023 = {name + "_filtered": clean_df_columns_2023_2024(df) for name, df in total_df_2023_2024.items()}

In [37]:
filtered_df_after_2023['df_2022_2023_filtered']

,DateTime,NI Generation,NI Demand,NI Wind Availability,NI Wind Generation,NI Solar Availability,NI Solar Generation,IE Generation,IE Demand,IE Wind Availability,IE Wind Generation,SNSP,Moyle I/C,IE Hydro,EWIC I/C,Inter-Jurisdictional Flow
0,2022-01-01 00:00:00,959.377,598.227,886.598,596.153,0.0,0.0,3474.06,3136.03,3648.97,2522.60,0.6935,-321.933,155.84,NaN,-13.63
1,2022-01-01 00:15:00,961.808,581.954,893.691,596.546,0.0,0.0,3491.97,3112.46,3658.92,2534.18,0.6925,-322.933,156.36,NaN,-32.60
2,2022-01-01 00:30:00,958.665,566.308,911.394,599.373,0.0,0.0,3426.97,3068.24,3651.04,2492.53,0.6945,-323.000,155.03,NaN,-43.63
3,2022-01-01 00:45:00,963.776,555.972,927.896,600.444,0.0,0.0,3447.54,3008.39,3636.67,2514.89,0.6960,-323.133,155.99,NaN,-59.19
4,2022-01-01 01:00:00,973.501,569.451,915.996,605.222,0.0,0.0,3575.19,2979.10,3661.37,2626.97,0.6997,-322.267,156.50,NaN,-56.39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70075,2023-12-31 22:45:00,960.682,659.615,620.576,487.334,0.0,0.0,3422.38,3503.52,3206.32,2479.34,0.6687,-133.758,179.28,0.02,-153.10
70076,2023-12-31 23:00:00,936.430,642.332,609.882,453.055,0.0,0.0,3427.12,3553.24,3174.79,2497.72,0.6677,-108.607,179.92,35.61,-168.41
70077,2023-12-31 23:15:00,915.920,630.235,609.261,444.249,0.0,0.0,3309.35,3576.77,3137.30,2404.60,0.6692,-33.808,178.92,110.53,-236.24
70078,2023-12-31 23:30:00,900.532,620.819,622.722,435.364,0.0,0.0,3167.84,3512.70,2989.04,2284.72,0.6701,41.531,178.95,106.42,-308.79
70079,2023-12-31 23:45:00,831.492,600.363,593.796,367.223,0.0,0.0,3159.46,3482.79,2964.87,2280.43,0.6675,117.364,178.84,61.98,-334.53

### Merge entire dataframes into one single dataframe

In [38]:
import numpy as np 

# Combine the dictionaries of filtered DataFrames
all_filtered_dfs = {**filtered_df_before_2022, **filtered_df_after_2023}

# Concatenate all DataFrames in the combined dictionary
# This operation automatically introduces np.nan for missing columns in each DataFrame
combined_df = pd.concat(all_filtered_dfs.values(), axis=0, sort=False)

In [40]:

# Replace 'nan' strings with np.nan to ensure consistency
combined_df.replace('nan', np.nan, inplace=True)

# Convert the 'DateTime' column to a datetime object and set it as the index
combined_df['DateTime'] = pd.to_datetime(combined_df['DateTime'])
combined_df.set_index('DateTime', inplace=True)

# Sort the DataFrame by the index to ensure it's in chronological order
combined_df.sort_index(inplace=True)

In [46]:
combined_df.loc['2014']

,NI Generation,NI Demand,NI Wind Availability,NI Wind Generation,IE Generation,IE Demand,IE Wind Availability,IE Wind Generation,SNSP,NI Solar Availability,NI Solar Generation,Moyle I/C,IE Hydro,EWIC I/C,Inter-Jurisdictional Flow
DateTime,,,,,,,,,,,,,,,
2014-01-01 00:00:00,637.98,859.36,367.58,365.57,2752.48,2898.72,1053.11,1020.23,0.4579,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-01 00:15:00,625.68,855.46,345.94,352.82,2733.59,2868.97,1021.59,995.07,0.4505,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-01 00:30:00,614.72,840.00,333.22,339.60,2686.17,2826.42,972.06,932.71,0.4383,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-01 00:45:00,588.73,824.25,307.44,313.66,2657.56,2786.94,985.81,959.06,0.4447,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-01 01:00:00,593.06,818.84,306.87,315.17,2584.65,2723.94,958.63,920.82,0.4429,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-12-31 22:45:00,640.94,877.23,402.69,305.24,2582.44,2778.60,1274.51,1053.33,0.4661,NaN,NaN,NaN,NaN,NaN,NaN
2014-12-31 23:00:00,641.48,871.71,406.85,303.33,2803.63,2875.98,1433.00,1180.72,0.4551,NaN,NaN,NaN,NaN,NaN,NaN
2014-12-31 23:15:00,712.60,864.53,397.65,371.92,2946.35,2961.43,1395.84,1276.46,0.4520,NaN,NaN,NaN,NaN,NaN,NaN
2014-12-31 23:30:00,699.83,840.89,376.89,366.37,2869.53,2956.80,1381.11,1272.27,0.4683,NaN,NaN,NaN,NaN,NaN,NaN
2014-12-31 23:45:00,682.87,818.14,395.29,377.73,2850.30,2948.08,1465.56,1303.42,0.4850,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
NI Wind Penetration = NI Wind Generation / NI Demand
IE Wind Penetration = IE Wind Generation / IE Demand