### Agent for SQL query

In [2]:
import pandas as pd

# Read the CSV file back into a pandas DataFrame
combined_df = pd.read_csv('./combined_df.csv', index_col='DateTime', parse_dates=['DateTime'])

In [3]:
import pandas as pd
import sqlite3

# Load the CSV file into a pandas DataFrame
df = pd.read_csv('./combined_df.csv')

# Assuming you want to insert into a table called 'energy_data'
table_name = "energy_data"

# Generate SQL INSERT statements from the DataFrame
sql_inserts = "\n".join([
    f"INSERT INTO {table_name} ({', '.join(df.columns)}) VALUES ({', '.join(['?' for _ in df.columns])});"
    for _ in df.itertuples(index=False)
])

# Save the INSERT statements to a .sql file
with open('./inserts.sql', 'w') as file:
    file.write(sql_inserts)

FileNotFoundError: [Errno 2] No such file or directory: './data/inserts.sql'

In [9]:
import pandas as pd
import sqlite3

# Load your CSV file into a pandas DataFrame
df = pd.read_csv('./data/combined_df.csv')

# Create a new SQLite database (or connect to one if it already exists)
conn = sqlite3.connect('eirgrid_data.db')

# Convert the DataFrame to SQL, creating a new table 'energy_data' in the SQLite database
df.to_sql('energy_data', conn, if_exists='replace', index=False)

# Commit changes and close the connection
conn.commit()
conn.close()

In [10]:
df.head(10)

,DateTime,NI Generation,NI Demand,NI Wind Availability,NI Wind Generation,IE Generation,IE Demand,IE Wind Availability,IE Wind Generation,SNSP,NI Solar Availability,NI Solar Generation,Moyle I/C,IE Hydro,EWIC I/C,Inter-Jurisdictional Flow
0,2014-01-01 00:00:00,637.98,859.36,367.58,365.57,2752.48,2898.72,1053.11,1020.23,0.4579,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-01-01 00:15:00,625.68,855.46,345.94,352.82,2733.59,2868.97,1021.59,995.07,0.4505,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-01-01 00:30:00,614.72,840.00,333.22,339.60,2686.17,2826.42,972.06,932.71,0.4383,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-01-01 00:45:00,588.73,824.25,307.44,313.66,2657.56,2786.94,985.81,959.06,0.4447,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-01-01 01:00:00,593.06,818.84,306.87,315.17,2584.65,2723.94,958.63,920.82,0.4429,NaN,NaN,NaN,NaN,NaN,NaN
5,2014-01-01 01:15:00,586.70,831.37,302.89,311.27,2566.28,2686.41,965.56,930.65,0.4480,NaN,NaN,NaN,NaN,NaN,NaN
6,2014-01-01 01:30:00,599.73,826.40,312.69,322.63,2532.75,2596.84,918.10,882.18,0.4410,NaN,NaN,NaN,NaN,NaN,NaN
7,2014-01-01 01:45:00,561.82,805.79,280.63,286.50,2496.42,2543.19,954.30,922.90,0.4503,NaN,NaN,NaN,NaN,NaN,NaN
8,2014-01-01 02:00:00,543.61,784.76,267.70,277.92,2435.10,2483.39,940.28,919.49,0.4568,NaN,NaN,NaN,NaN,NaN,NaN
9,2014-01-01 02:15:00,535.37,768.59,258.76,272.14,2424.75,2437.31,971.81,943.66,0.4692,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
import os
from dotenv import load_dotenv

load_dotenv()
OPENAI_API_KEY = os.environ["OPENAI_API_KEY"]

In [ ]:
from langchain_community.utilities import SQLDatabase
import sqlite3

# Create a SQLite database in memory
conn = sqlite3.connect(':memory:')

# Load the DataFrame into an SQLite table named "energy_data"
combined_df.to_sql('energy_data', conn, if_exists='replace', index=True)

In [1]:
from langchain_community.utilities import SQLDatabase

db = SQLDatabase.from_uri("sqlite:///eirgrid_data.db")
print(db.dialect)
print(db.get_usable_table_names())
db.run("SELECT * FROM energy_data LIMIT 10;")

sqlite
['energy_data']

"[('2014-01-01 00:00:00', 637.98, 859.36, 367.58, 365.57, 2752.48, 2898.72, 1053.11, 1020.23, 0.4579, None, None, None, None, None, None), ('2014-01-01 00:15:00', 625.68, 855.46, 345.94, 352.82, 2733.59, 2868.97, 1021.59, 995.07, 0.4505, None, None, None, None, None, None), ('2014-01-01 00:30:00', 614.72, 840.0, 333.22, 339.6, 2686.17, 2826.42, 972.06, 932.71, 0.4383, None, None, None, None, None, None), ('2014-01-01 00:45:00', 588.73, 824.25, 307.44, 313.66, 2657.56, 2786.94, 985.81, 959.06, 0.4447, None, None, None, None, None, None), ('2014-01-01 01:00:00', 593.06, 818.84, 306.87, 315.17, 2584.65, 2723.94, 958.63, 920.82, 0.4429, None, None, None, None, None, None), ('2014-01-01 01:15:00', 586.7, 831.37, 302.89, 311.27, 2566.28, 2686.41, 965.56, 930.65, 0.4479999999999999, None, None, None, None, None, None), ('2014-01-01 01:30:00', 599.73, 826.4, 312.69, 322.63, 2532.75, 2596.84, 918.1, 882.18, 0.441, None, None, None, None, None, None), ('2014-01-01 01:45:00', 561.82, 805.79, 280.63, 286.5, 2496.42, 2543.19, 954.3, 922.9, 0.4503, None, None, None, None, None, None), ('2014-01-01 02:00:00', 543.61, 784.76, 267.7, 277.92, 2435.1, 2483.39, 940.28, 919.49, 0.4568, None, None, None, None, None, None), ('2014-01-01 02:15:00', 535.37, 768.59, 258.76, 272.14, 2424.75, 2437.31, 971.81, 943.66, 0.4692, None, None, None, None, None, None)]"

In [5]:
from langchain_community.agent_toolkits import create_sql_agent
from langchain_openai import ChatOpenAI

llm = ChatOpenAI(model="gpt-3.5-turbo", temperature=0)
agent_executor = create_sql_agent(llm, db=db, agent_type="openai-tools", verbose=True)

In [6]:
agent_executor.invoke(
    "List the wind generation per year. Which year generated the most?"
)

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with ``


energy_data
Invoking: `sql_db_schema` with `{'table_names': 'energy_data'}`



CREATE TABLE energy_data (
	"DateTime" TEXT,
	"NI Generation" REAL,
	"NI Demand" REAL,
	"NI Wind Availability" REAL,
	"NI Wind Generation" REAL,
	"IE Generation" REAL,
	"IE Demand" REAL,
	"IE Wind Availability" REAL,
	"IE Wind Generation" REAL,
	"SNSP" REAL,
	"NI Solar Availability" REAL,
	"NI Solar Generation" REAL,
	"Moyle I/C" REAL,
	"IE Hydro" REAL,
	"EWIC I/C" REAL,
	"Inter-Jurisdictional Flow" REAL
)

/*
3 rows from energy_data table:
DateTime	NI Generation	NI Demand	NI Wind Availability	NI Wind Generation	IE Generation	IE Demand	IE Wind Availability	IE Wind Generation	SNSP	NI Solar Availability	NI Solar Generation	Moyle I/C	IE Hydro	EWIC I/C	Inter-Jurisdictional Flow
2014-01-01 00:00:00	637.98	859.36	367.58	365.57	2752.48	2898.72	1053.11	1020.23	0.4579	None	None	None	None	None	None
2014-01-01 00:15:00	625.68	855.46	345.94	352.82	2733.59	2868.97	1021.59	995.07	0.4505	None	None	None	None	None	None
2014-01-01 00:30:00	614.72	840.0	333.22	339.6	2686.17	2826.42	972.06	932.71	0.4383	None	None	None	None	None	None
*/
Invoking: `sql_db_query` with `SELECT SUBSTR(DateTime, 1, 4) AS Year, SUM("NI Wind Generation") AS TotalWindGeneration FROM energy_data GROUP BY Year ORDER BY TotalWindGeneration DESC LIMIT 1`


[('2022', 11117346.713000018)]The year 2022 generated the most wind energy, with a total wind generation of 11,117,346.713.

> Finished chain.

{'input': 'List the wind generation per year. Which year generated the most?',
 'output': 'The year 2022 generated the most wind energy, with a total wind generation of 11,117,346.713.'}

In [7]:
agent_executor.invoke("What is average demand in Ireland (IE) and Northen IReland (NI) for eahc year from 2014 to 2023?")

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with ``


energy_data
Invoking: `sql_db_schema` with `{'table_names': 'energy_data'}`



CREATE TABLE energy_data (
	"DateTime" TEXT,
	"NI Generation" REAL,
	"NI Demand" REAL,
	"NI Wind Availability" REAL,
	"NI Wind Generation" REAL,
	"IE Generation" REAL,
	"IE Demand" REAL,
	"IE Wind Availability" REAL,
	"IE Wind Generation" REAL,
	"SNSP" REAL,
	"NI Solar Availability" REAL,
	"NI Solar Generation" REAL,
	"Moyle I/C" REAL,
	"IE Hydro" REAL,
	"EWIC I/C" REAL,
	"Inter-Jurisdictional Flow" REAL
)

/*
3 rows from energy_data table:
DateTime	NI Generation	NI Demand	NI Wind Availability	NI Wind Generation	IE Generation	IE Demand	IE Wind Availability	IE Wind Generation	SNSP	NI Solar Availability	NI Solar Generation	Moyle I/C	IE Hydro	EWIC I/C	Inter-Jurisdictional Flow
2014-01-01 00:00:00	637.98	859.36	367.58	365.57	2752.48	2898.72	1053.11	1020.23	0.4579	None	None	None	None	None	None
2014-01-01 00:15:00	625.68	855.46	345.94	352.82	2733.59	2868.97	1021.59	995.07	0.4505	None	None	None	None	None	None
2014-01-01 00:30:00	614.72	840.0	333.22	339.6	2686.17	2826.42	972.06	932.71	0.4383	None	None	None	None	None	None
*/
Invoking: `sql_db_query` with `SELECT SUBSTR(DateTime, 1, 4) AS Year, AVG("IE Demand") AS Average_IE_Demand, AVG("NI Demand") AS Average_NI_Demand FROM energy_data WHERE SUBSTR(DateTime, 1, 4) BETWEEN '2014' AND '2023' GROUP BY Year`


[('2014', 2941.8597117579984, 980.3528441780855), ('2015', 3033.7469788812805, 973.1617364440654), ('2016', 3091.4344444444587, 946.5393785291536), ('2017', 3166.8999175228337, 926.9354447773986), ('2018', 3299.096345034256, 924.7121733447525), ('2019', 3319.963661529677, 901.3064319063907), ('2020', 3339.0850839594987, 854.377863501817), ('2021', 3529.7519757420205, 876.4919929509088), ('2022', 3609.7611418379047, 844.9362530821946), ('2023', 3710.115115296798, 820.3897451198644)]The average demand in Ireland (IE) and Northern Ireland (NI) for each year from 2014 to 2023 is as follows:

- **Year 2014**: Average IE Demand: 2941.86, Average NI Demand: 980.35
- **Year 2015**: Average IE Demand: 3033.75, Average NI Demand: 973.16
- **Year 2016**: Average IE Demand: 3091.43, Average NI Demand: 946.54
- **Year 2017**: Average IE Demand: 3166.90, Average NI Demand: 926.94
- **Year 2018**: Average IE Demand: 3299.10, Average NI Demand: 924.71
- **Year 2019**: Average IE Demand: 3319.96, Average NI Demand: 901.31
- **Year 2020**: Average IE Demand: 3339.09, Average NI Demand: 854.38
- **Year 2021**: Average IE Demand: 3529.75, Average NI Demand: 876.49
- **Year 2022**: Average IE Demand: 3609.76, Average NI Demand: 844.94
- **Year 2023**: Average IE Demand: 3710.12, Average NI Demand: 820.39

> Finished chain.

{'input': 'What is average demand in Ireland (IE) and Northen IReland (NI) for eahc year from 2014 to 2023?',
 'output': 'The average demand in Ireland (IE) and Northern Ireland (NI) for each year from 2014 to 2023 is as follows:\n\n- **Year 2014**: Average IE Demand: 2941.86, Average NI Demand: 980.35\n- **Year 2015**: Average IE Demand: 3033.75, Average NI Demand: 973.16\n- **Year 2016**: Average IE Demand: 3091.43, Average NI Demand: 946.54\n- **Year 2017**: Average IE Demand: 3166.90, Average NI Demand: 926.94\n- **Year 2018**: Average IE Demand: 3299.10, Average NI Demand: 924.71\n- **Year 2019**: Average IE Demand: 3319.96, Average NI Demand: 901.31\n- **Year 2020**: Average IE Demand: 3339.09, Average NI Demand: 854.38\n- **Year 2021**: Average IE Demand: 3529.75, Average NI Demand: 876.49\n- **Year 2022**: Average IE Demand: 3609.76, Average NI Demand: 844.94\n- **Year 2023**: Average IE Demand: 3710.12, Average NI Demand: 820.39'}

In [8]:
agent_executor.invoke(
    "Describe SNSP"
)

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with ``


energy_data
Invoking: `sql_db_schema` with `{'table_names': 'energy_data'}`



CREATE TABLE energy_data (
	"DateTime" TEXT,
	"NI Generation" REAL,
	"NI Demand" REAL,
	"NI Wind Availability" REAL,
	"NI Wind Generation" REAL,
	"IE Generation" REAL,
	"IE Demand" REAL,
	"IE Wind Availability" REAL,
	"IE Wind Generation" REAL,
	"SNSP" REAL,
	"NI Solar Availability" REAL,
	"NI Solar Generation" REAL,
	"Moyle I/C" REAL,
	"IE Hydro" REAL,
	"EWIC I/C" REAL,
	"Inter-Jurisdictional Flow" REAL
)

/*
3 rows from energy_data table:
DateTime	NI Generation	NI Demand	NI Wind Availability	NI Wind Generation	IE Generation	IE Demand	IE Wind Availability	IE Wind Generation	SNSP	NI Solar Availability	NI Solar Generation	Moyle I/C	IE Hydro	EWIC I/C	Inter-Jurisdictional Flow
2014-01-01 00:00:00	637.98	859.36	367.58	365.57	2752.48	2898.72	1053.11	1020.23	0.4579	None	None	None	None	None	None
2014-01-01 00:15:00	625.68	855.46	345.94	352.82	2733.59	2868.97	1021.59	995.07	0.4505	None	None	None	None	None	None
2014-01-01 00:30:00	614.72	840.0	333.22	339.6	2686.17	2826.42	972.06	932.71	0.4383	None	None	None	None	None	None
*/I have found information related to SNSP in the `energy_data` table. The `SNSP` column in the table represents the System Non-Synchronous Penetration.

If you would like to know more details or specific data related to SNSP, please let me know!

> Finished chain.

{'input': 'Describe SNSP',
 'output': 'I have found information related to SNSP in the `energy_data` table. The `SNSP` column in the table represents the System Non-Synchronous Penetration. \n\nIf you would like to know more details or specific data related to SNSP, please let me know!'}

### Optimise agent performance

In [9]:
examples = [
    {
        "input": "List the total electricity generation for the island of Ireland on 2023-03-15.",
        "query": "SELECT SUM(`IE Generation` + `NI Generation`) FROM energy_data WHERE `DateTime` LIKE '2023-03-15%';"
    },
    {
        "input": "Find the average wind availability for Northern Ireland in January 2023.",
        "query": "SELECT AVG(`NI Wind Availability`) FROM energy_data WHERE `DateTime` LIKE '2023-01%';"
    },
    {
        "input": "What is the wind curtailment for the Republic of Ireland on 2023-02-10?",
        "query": "SELECT `IE Wind Availability` - `IE Wind Generation` AS WindCurtailment FROM energy_data WHERE `DateTime` = '2023-02-10';"
    },
    {
        "input": "Calculate the solar curtailment for Northern Ireland on 2023-04-05.",
        "query": "SELECT `NI Solar Availability` - `NI Solar Generation` AS SolarCurtailment FROM energy_data WHERE `DateTime` = '2023-04-05';"
    },
    {
        "input": "What was the wind penetration for the island of Ireland on 2023-01-20?",
        "query": "SELECT (SUM(`IE Wind Generation` + `NI Wind Generation`)) / SUM(`IE Demand` + `NI Demand`) AS WindPenetration FROM energy_data WHERE `DateTime` = '2023-01-20';"
    },
    {
        "input": "List the energy demand for the Republic of Ireland and Northern Ireland separately on 2023-03-10.",
        "query": "SELECT `IE Demand`, `NI Demand` FROM energy_data WHERE `DateTime` = '2023-03-10';"
    },
    {
        "input": "Find the total wind generation for the island of Ireland in February 2023.",
        "query": "SELECT SUM(`IE Wind Generation` + `NI Wind Generation`) FROM energy_data WHERE `DateTime` LIKE '2023-02%';"
    },
    {
        "input": "Calculate the total solar generation for Northern Ireland in 2023.",
        "query": "SELECT SUM(`NI Solar Generation`) FROM energy_data WHERE `DateTime` LIKE '2023%';"
    },
    {
        "input": "What is the highest System Non-Synchronous Penetration (SNSP) recorded in 2023?",
        "query": "SELECT MAX(`SNSP`) FROM energy_data WHERE `DateTime` LIKE '2023%';"
    },
    {
        "input": "Find the average Inter-Jurisdictional Flow for March 2023.",
        "query": "SELECT AVG(`Inter-Jurisdictional Flow`) FROM energy_data WHERE `DateTime` LIKE '2023-03%';"
    }
]

Now we can create an example selector. This will take the actual user input and select some number of examples to add to our few-shot prompt. Weâ€™ll use a SemanticSimilarityExampleSelector, which will perform a semantic search using the embeddings and vector store we configure to find the examples most similar to our input:

In [13]:
from langchain_community.vectorstores import FAISS
from langchain_core.example_selectors import SemanticSimilarityExampleSelector
from langchain_openai import OpenAIEmbeddings

example_selector = SemanticSimilarityExampleSelector.from_examples(
    examples,
    OpenAIEmbeddings(),
    FAISS,
    k=5,
    input_keys=["input"],
)

In [14]:
from langchain_core.prompts import (
    ChatPromptTemplate,
    FewShotPromptTemplate,
    MessagesPlaceholder,
    PromptTemplate,
    SystemMessagePromptTemplate,
)

system_prefix = """You are an agent designed to interact with a SQL database.
Given an input question, create a syntactically correct {dialect} query to run, then look at the results of the query and return the answer.
Unless the user specifies a specific number of examples they wish to obtain, always limit your query to at most {top_k} results.
You can order the results by a relevant column to return the most interesting examples in the database.
Query for the relevant columns needed to answer the question comprehensively. 
In cases where calculations or comparisons across multiple sectors (such as IE and NI) are required,
ensure to include all necessary columns for these calculations. Prioritize efficiency and relevance in your queries.
You have access to tools for interacting with the database.
Only use the given tools. Only use the information returned by the tools to construct your final answer.

You MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.

DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.

If the question does not seem related to the database, just return "I don't know" as the answer.

Here are some examples of user inputs and their corresponding SQL queries:"""

few_shot_prompt = FewShotPromptTemplate(
    example_selector=example_selector,
    example_prompt=PromptTemplate.from_template(
        "User input: {input}\nSQL query: {query}"
    ),
    input_variables=["input", "dialect", "top_k"],
    prefix=system_prefix,
    suffix="",
)

In [15]:
full_prompt = ChatPromptTemplate.from_messages(
    [
        SystemMessagePromptTemplate(prompt=few_shot_prompt),
        ("human", "{input}"),
        MessagesPlaceholder("agent_scratchpad"),
    ]
)

In [16]:
# Example formatted prompt
prompt_val = full_prompt.invoke(
    {
        "input": "How many years are there",
        "top_k": 5,
        "dialect": "SQLite",
        "agent_scratchpad": [],
    }
)
print(prompt_val.to_string())

System: You are an agent designed to interact with a SQL database.
Given an input question, create a syntactically correct SQLite query to run, then look at the results of the query and return the answer.
Unless the user specifies a specific number of examples they wish to obtain, always limit your query to at most 5 results.
You can order the results by a relevant column to return the most interesting examples in the database.
Query for the relevant columns needed to answer the question comprehensively.
In cases where calculations or comparisons across multiple sectors (such as IE and NI) are required,
ensure to include all necessary columns for these calculations. Prioritize efficiency and relevance in your queries.
You have access to tools for interacting with the database.
Only use the given tools. Only use the information returned by the tools to construct your final answer.

You MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.

DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.

If the question does not seem related to the database, just return "I don't know" as the answer.

Here are some examples of user inputs and their corresponding SQL queries:

User input: What is the highest System Non-Synchronous Penetration (SNSP) recorded in 2023?
SQL query: SELECT MAX(`SNSP`) FROM energy_data WHERE `DateTime` LIKE '2023%';

User input: Find the total wind generation for the island of Ireland in February 2023.
SQL query: SELECT SUM(`IE Wind Generation` + `NI Wind Generation`) FROM energy_data WHERE `DateTime` LIKE '2023-02%';

User input: List the total electricity generation for the island of Ireland on 2023-03-15.
SQL query: SELECT SUM(`IE Generation` + `NI Generation`) FROM energy_data WHERE `DateTime` LIKE '2023-03-15%';

User input: Find the average Inter-Jurisdictional Flow for March 2023.
SQL query: SELECT AVG(`Inter-Jurisdictional Flow`) FROM energy_data WHERE `DateTime` LIKE '2023-03%';

User input: Calculate the total solar generation for Northern Ireland in 2023.
SQL query: SELECT SUM(`NI Solar Generation`) FROM energy_data WHERE `DateTime` LIKE '2023%';
Human: How many years are there

In [17]:
agent = create_sql_agent(
    llm=llm,
    db=db,
    prompt=full_prompt,
    verbose=True,
    agent_type="openai-tools",
)

In [23]:
agent.invoke({"input": "How much wind is curtailed in 2023? and how much in percentage of demand is supplied by wind in 2023?"})

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_query` with `SELECT SUM(`IE Wind Availability` + `NI Wind Availability`) - SUM(`IE Wind Generation` + `NI Wind Generation`) AS TotalWindCurtailment, (SUM(`IE Wind Generation` + `NI Wind Generation`)) / SUM(`IE Demand` + `NI Demand`) * 100 AS WindPenetration FROM energy_data WHERE `DateTime` LIKE '2023%'`


[(7284656.776000537, 34.59532714282293)]The total wind curtailment in 2023 is approximately 7,284,656.78 MWh. The wind supplied approximately 34.60% of the total demand in 2023.

> Finished chain.

{'input': 'How much wind is curtailed in 2023? and how much in percentage of demand is supplied by wind in 2023?',
 'output': 'The total wind curtailment in 2023 is approximately 7,284,656.78 MWh. The wind supplied approximately 34.60% of the total demand in 2023.'}

In [24]:
agent.invoke({"input": "do you know about Ireland and Northern Ireland? How about Solar? do you have any info?"})

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with ``


energy_data
Invoking: `sql_db_schema` with `{'table_names': 'energy_data'}`



CREATE TABLE energy_data (
	"DateTime" TEXT,
	"NI Generation" REAL,
	"NI Demand" REAL,
	"NI Wind Availability" REAL,
	"NI Wind Generation" REAL,
	"IE Generation" REAL,
	"IE Demand" REAL,
	"IE Wind Availability" REAL,
	"IE Wind Generation" REAL,
	"SNSP" REAL,
	"NI Solar Availability" REAL,
	"NI Solar Generation" REAL,
	"Moyle I/C" REAL,
	"IE Hydro" REAL,
	"EWIC I/C" REAL,
	"Inter-Jurisdictional Flow" REAL
)

/*
3 rows from energy_data table:
DateTime	NI Generation	NI Demand	NI Wind Availability	NI Wind Generation	IE Generation	IE Demand	IE Wind Availability	IE Wind Generation	SNSP	NI Solar Availability	NI Solar Generation	Moyle I/C	IE Hydro	EWIC I/C	Inter-Jurisdictional Flow
2014-01-01 00:00:00	637.98	859.36	367.58	365.57	2752.48	2898.72	1053.11	1020.23	0.4579	None	None	None	None	None	None
2014-01-01 00:15:00	625.68	855.46	345.94	352.82	2733.59	2868.97	1021.59	995.07	0.4505	None	None	None	None	None	None
2014-01-01 00:30:00	614.72	840.0	333.22	339.6	2686.17	2826.42	972.06	932.71	0.4383	None	None	None	None	None	None
*/The database contains a table named `energy_data` with information related to Ireland and Northern Ireland, including solar data. Here are some of the relevant columns in the table:

- `DateTime`: Timestamp of the data
- `NI Generation`: Generation in Northern Ireland
- `NI Demand`: Demand in Northern Ireland
- `NI Solar Availability`: Solar availability in Northern Ireland
- `NI Solar Generation`: Solar generation in Northern Ireland
- `IE Generation`: Generation in Ireland
- `IE Demand`: Demand in Ireland

If you have any specific questions or queries related to solar data in Ireland and Northern Ireland, feel free to ask!

> Finished chain.

{'input': 'do you know about Ireland and Northern Ireland? How about Solar? do you have any info?',
 'output': 'The database contains a table named `energy_data` with information related to Ireland and Northern Ireland, including solar data. Here are some of the relevant columns in the table:\n\n- `DateTime`: Timestamp of the data\n- `NI Generation`: Generation in Northern Ireland\n- `NI Demand`: Demand in Northern Ireland\n- `NI Solar Availability`: Solar availability in Northern Ireland\n- `NI Solar Generation`: Solar generation in Northern Ireland\n- `IE Generation`: Generation in Ireland\n- `IE Demand`: Demand in Ireland\n\nIf you have any specific questions or queries related to solar data in Ireland and Northern Ireland, feel free to ask!'}